.devicon {
  font-size: 3rem;
  margin-top: 1rem;
}

.extra-top-bottom-pad {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-section {
	background-color: #2B353D !important;
}

.about-header {
	margin-bottom: 0px !important;
}

.about-article {
	text-align:start !important;
}

.resume-link {
	margin: 2rem 0rem 1rem 0rem !important;
}

.white-text {
	color: white !important;
}

.navy-background {
	background-color: #2B353D !important;
}

#banner .icons {
			font-size: 1.2rem;
		}

			#banner .icons a {
				color: rgba(255, 255, 255, 0.6);
			}

				#banner .icons a:hover {
					color: #fff;
				}
